* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(1, 100, 100, 0.1);
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.tasks {
    width: 300px;
    height: 405px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

input[type=checkbox] {
    display: none;
}

label {
    background: #040c3a;
    height: 70px;
    width: 100%;
    display: block;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 20px;
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px 0;
}

label h2 span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ff4a7b;
    margin-top: 5px;
}

label:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 30%;
    transition: border 0.7s ease;
}

#label-1:checked ~ label[for=label-1],
#label-2:checked ~ label[for=label-2],
#label-3:checked ~ label[for=label-3],
#label-4:checked ~ label[for=label-4],
#label-5:checked ~ label[for=label-5] {
    background: #ff4a7b;
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

#label-1:checked ~ label[for=label-1] h2 span,
#label-2:checked ~ label[for=label-2] h2 span,
#label-3:checked ~ label[for=label-3] h2 span,
#label-4:checked ~ label[for=label-4] h2 span,
#label-5:checked ~ label[for=label-5] h2 span {
    color: #040c3a;
}

#label-1:checked ~ label[for=label-1]::before,
#label-2:checked ~ label[for=label-2]::before,
#label-3:checked ~ label[for=label-3]::before,
#label-4:checked ~ label[for=label-4]::before,
#label-5:checked ~ label[for=label-5]::before {
    background: url(/img/check-mark.png) no-repeat center center;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    
}

footer img {
    width: 20px;
    margin-left: 10px;
}